In [11]:
import pandas as pd

In [12]:
# Import the data
lax_temp_df = pd.read_csv("../Resources/lax_temperature.csv")
lax_temp_df.head()
# Show the first 5 rows

       STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0  72295023174  2019-01-01T00:49:00       FM-16                        52
1  72295023174  2019-01-01T00:53:00       FM-15                        51
2  72295023174  2019-01-01T01:53:00       FM-15                        52
3  72295023174  2019-01-01T02:53:00       FM-15                        49
4  72295023174  2019-01-01T03:53:00       FM-15                        43

In [13]:
# Rename the columns
lax_temp_df.columns = ["station", "date", "report_type", "hourly_temp"]
lax_temp_df.head()

       station                 date report_type  hourly_temp
0  72295023174  2019-01-01T00:49:00       FM-16           52
1  72295023174  2019-01-01T00:53:00       FM-15           51
2  72295023174  2019-01-01T01:53:00       FM-15           52
3  72295023174  2019-01-01T02:53:00       FM-15           49
4  72295023174  2019-01-01T03:53:00       FM-15           43

In [20]:
# How many reports are there of report type FM-16?

fm16_df = lax_temp_df.loc[lax_temp_df["report_type"] == "FM-16"]
len(fm16_df)

510

In [21]:
# How many readings measured a temp over 70?
over70_df = lax_temp_df.loc[lax_temp_df["hourly_temp"] > 70]
len(over70_df)

96

In [22]:
# What was the temperature for the 276th reading?
lax_temp_df.iloc [175, 3]

58

In [23]:
# What were the dates and report types of rows 500 through 505?
lax_temp_df[500:505]

         station                 date report_type  hourly_temp
500  72295023174  2019-01-15T16:53:00       FM-15           53
501  72295023174  2019-01-15T17:18:00       FM-16           52
502  72295023174  2019-01-15T17:40:00       FM-16           52
503  72295023174  2019-01-15T17:53:00       FM-15           52
504  72295023174  2019-01-15T18:37:00       FM-16           53

In [26]:
# Show the last 10 rows of the DataFrame
lax_temp_df.tail(10)

          station                 date report_type  hourly_temp
3519  72295023174  2019-04-18T17:53:00       FM-15           63
3520  72295023174  2019-04-18T18:53:00       FM-15           61
3521  72295023174  2019-04-18T19:53:00       FM-15           60
3522  72295023174  2019-04-18T20:53:00       FM-15           60
3523  72295023174  2019-04-18T21:48:00       FM-16           61
3524  72295023174  2019-04-18T21:53:00       FM-15           60
3525  72295023174  2019-04-18T22:06:00       FM-16           59
3526  72295023174  2019-04-18T22:12:00       FM-16           58
3527  72295023174  2019-04-18T22:36:00       FM-16           58
3528  72295023174  2019-04-18T22:53:00       FM-15           58