In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import plotly.express as px
import scipy.stats as sts

In [2]:
# Create a DataFrame from the cups_of_coffee data
cups_of_coffee = [1, 1, 0, 0, 3, 1, 3, 0, 2, 3, 2, 3, 0, 3, 2, 0, 3, 0, 2, 3, 2, 3, 0, 2, 0, 0, 1]
coffee_consumed = pd.DataFrame(cups_of_coffee, columns=["cups"])

In [3]:
# Calculate the mean, median, and mode of cups of coffee consumed daily
print(np.mean(coffee_consumed))
print(np.median(coffee_consumed))
print(sts.mode(coffee_consumed))

1.4814814814814814
2.0
ModeResult(mode=array([0]), count=array([9]))

In [4]:
# Read in the California housing data set from the Resources folder
california_data=pd.read_csv("../Resources/California_Housing.csv")
california_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,5.2742,17.0,8.908654,1.884615,351.0,1.687500,32.98,-117.27
1,1.8438,52.0,3.069847,1.044293,2382.0,4.057922,34.07,-118.26
2,7.0691,13.0,6.689697,1.009697,2444.0,2.962424,37.57,-121.87
3,5.4719,38.0,5.890080,0.957105,1228.0,3.292225,37.52,-122.28
4,4.0156,35.0,6.195312,1.171875,669.0,5.226562,33.93,-117.41

In [6]:
# Determine the most appropriate measure of central tendency to describe the Population column
print(california_data["Population"].mean())
print(california_data["Population"].median())
print(california_data["Population"].mode())

1387.9633333333334
1152.5
0    1128.0
Name: Population, dtype: float64

In [8]:
# Determine if there are any potential outliers in the AveOccup column
avg_occup=california_data['AveOccup']
Q1 = avg_occup.quantile(0.25)
median= avg_occup.quantile(0.5)
Q3=avg_occup.quantile(0.75)
IQR = Q3 - Q1

print(Q1)
print(median)
print(Q3)
print(IQR)

2.4250909806040477
2.81970199317512
3.2974592743428364
0.8723682937387887

In [11]:
# Create a new DataFrame by filtering the original DataFrame to show only the outliers
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)

print(lower_bound)
print(upper_bound)

1.1165385399958647
4.60601171495102

In [ ]:
# Find the lowest and highest median income in the potential outliers
outlier_occupancy=california_data.loc(avg_occup<lower_bound)