In [56]:
# Declare variables
x = 1
y = 10

In [57]:
# Logical operators: "and" and "or"
if x == 1 and y ==10:
    print("Both values are correct")
if x == 1 or y == "potato":
    print("One value could be correct")

Both values are correct
One value could be correct

In [58]:
# Check for two conditions to be met using "and"
if x == 1 and y ==10:
    print("Both values are correct")

Both values are correct

In [59]:

# Check if either of two conditions is met using "or"
if x == 1 or y == "potato":
    print("One value could be correct")

One value could be correct

In [60]:

# Check if a condition is not true
if  not (x == y):
    print("x is not equal to y")

x is not equal to y

In [61]:

# Check multiple conditions
plate = "fancy"
if plate == "cracked":
    print("Throw the plate in the trash")
elif plate == "fancy":
    print("Put the plate on the top shelf")
else:
    print("Put the plate on the bottom shelf")

Put the plate on the top shelf

In [ ]:

# Conditionals with membership operators: "in" and "not in"

In [62]:
# Check if a variable is in a list
name = "Tim"
group_one = ["Jorge", "Joon", "Susan"]
group_two = ["Gerald", "Paola", "Ryder"]
group_three = ["Farah", "Amidah", "Koen"]

In [63]:
if name in group_one:
    print(f"{name} in group 1")
elif name in group_two:
    print(f"{name} in group 2")
elif name in group_three:
    print(f"{name} in group 3")
else:
    print("The name is not in any group")

The name is not in any group

In [64]:
# Check if a variable is not in a list
countries = ["Fiji", "Australia", "New Zealand", "Papua New Guinea", "Palau"
             "Solomon Islands", "Micronesia", "Vanuatu", "Samoa", "Kiribati",
             "Tonga", "Marshall Islands", "Tuvalu", "Nauru"]
country = "Kenya"

In [65]:
# Conditionals with identity operators: "is" and "is not"
if country not in countries:
    print(country + " Not in Oceania")
else:
    print(country + " is in Oceania")

Kenya Not in Oceania

In [66]:
# Check if a variable is a list
if type(countries) is  list:
    print("Countries is a list")

Countries is a list

In [67]:

# Check if a variable is not a list
if type(country) is not  list:
    print("Country is NOT a list")

Country is NOT a list

In [68]:

# Check if a variable is a float or integer
if type (x) is float:
    print ("x is a float")
if type (x) is int:
    print ("X is an integer")
else:
    print("x is not a number")

X is an integer

In [75]:

# Check multiple conditions with comparison and logical operators
height = 64
age = 21
adult_permission = True

In [77]:
if (height > 70) and (age >= 18):
    print("Can ride all the roller coasters")
elif (height > 65) and (age >= 18):
    print("Can ride moderate roller coasters")
elif (height > 60) and (age >= 18):
    print("Can ride light roller coasters")
elif ((height > 50) and (age >= 18)) or ((adult_permission) and (height > 50)):
    print("Can ride bumper cars")
else:
    print("Stick to lazy river")

Can ride light roller coasters