In [1]:
# Loop through a range of numbers (0 through 4)
for x in range(5):
    print(x)

0
1
2
3
4

In [2]:

print("-" * 40)

----------------------------------------

In [4]:
# Loop through a range of numbers (2 through 6 - yes 6! Up to, but not
# including, 7)
for x in range(2, 7):
    print(x)

2
3
4
5
6

In [5]:

print("-" * 40)

----------------------------------------

In [13]:
# Loop through a range of numbers (0 through 4) without using the value in the
# range
y = 2
for _ in range(5):
    # Add 2 to the value of y
    y += 2
    print(y)

4
6
8
10
12

2

In [14]:

print("-" * 40)

----------------------------------------

In [18]:
# Iterate through letters in a string
word = "Iterate"
for letter in word:
    print(letter)

I
t
e
r
a
t
e

In [19]:

print("-" * 40)

----------------------------------------

In [25]:
# Iterate through a list
golf = ["callaway", "mizuno", "taylor made", "kirkland", "tommy armor"]
for brand in golf:
    print(brand.upper())

CALLAWAY
MIZUNO
TAYLOR MADE
KIRKLAND
TOMMY ARMOR

In [26]:
computers =["dell", "thinkbook", "ibm", "alienware", "qpple"]
for type in computers:
    print(type.upper())
    print("-" * 40)

DELL
----------------------------------------
THINKBOOK
----------------------------------------
IBM
----------------------------------------
ALIENWARE
----------------------------------------
QPPLE
----------------------------------------

In [40]:
# Make changes to each item in a list
numbers = [5, 8, 7, 24]
for i in range(len(numbers)):
    numbers [i] += 247
    print(numbers[i])

252
255
254
271

In [45]:
numbers = [12,17,21,34, 55]
for i in range(len(numbers)):
    numbers [i] += 42
    print(numbers [i])
print("-" * 40)

54
59
63
76
97
----------------------------------------

In [51]:
# Loop while a condition is being met
run = "y"

In [53]:
# run.lower() means the condition will be met if run = "y" or run = "Y"
while run.lower() == "y": 
    print("Hi") 
    run = input("To run again press 'y': ")

Hi
Hi
Hi

In [56]:
keep_looping = True
# While loop with a Boolean variable
while keep_looping:
    print("Hi")
    keep_looping = bool(input("Press enter to exit and anything else to continue. "))

Hi
Hi
Hi
Hi